<a href="https://colab.research.google.com/github/Anjalipatade/Anjalipatade/blob/main/copyofempolydetails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
  count=0
  def __init__(self,name,design,salary):
    self.name=name
    self.design=design
    self.salary=salary
    Employee.count+=1
  def displaycount(self):
      print("There are %d Empolyee"% Employee.count)
  def displaydetails(self):
       print("name:",self.name,",designation",self.design,",salary:",self.salary)
e1=Employee("john","manager",80000) 
e2=Employee("mike","team leader",50000)
e3=Employee("derek","programer",30000)
e4=Employee("raj","assistant",25000)
e4.displaycount()
print("details of all employee:")
e1.displaydetails()
e2.displaydetails()
e3.displaydetails()
e4.displaydetails()

There are 4 Empolyee
details of all employee:
name: john ,designation manager ,salary: 80000
name: mike ,designation team leader ,salary: 50000
name: derek ,designation programer ,salary: 30000
name: raj ,designation assistant ,salary: 25000

In [ ]:
class student:
  count=0
  def __init__(self,name,division,mark):
    self.name=name
    self.division=division
    self.mark=mark
    student.count+=1
  def displaycount(self):
      print("There are %d student"% student.count)
  def displaydetails(self):
       print("name:",self.name,",division",self.division,",mark:",self.mark)
e1=student("john","first class",100) 
e2=student("mike","second class",80)
e3=student("derek","third class",50)
e4=student("raj","fourth class",25)
e4.displaycount()
print("details of all student:")
e1.displaydetails()
e2.displaydetails()
e3.displaydetails()
e4.displaydetails()

There are 4 student
details of all student:
name: john ,division first class ,mark: 100
name: mike ,division second class ,mark: 80
name: derek ,division third class ,mark: 50
name: raj ,division fourth class ,mark: 25